.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("../../../public/backgroundPG.png");
  background-size: cover;
  background-position: center;
  width: 100vw; 
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 350px; 
  padding: 2rem;
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); 
  border-radius: 5px;
}
