.wrapper {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: inline-block;
  width: 56px;
  height: 56px;
  color: #00CB8E;

  &_inherit {
    color: inherit;
  }

  .iconDone {
    font-size: 20px;
  }

  &_large {
    width: 48px;
    height: 48px;
  }

  &_normal {
    width: 40px;
    height: 40px;
  }

  &_small {
    width: 32px;
    height: 32px;

    .text {
      font-weight: 400;
      font-size: 12px;
      line-height: 14px;

      .iconDone {
        font-size: 18px;
      }
    }
  }

  &_tiny {
    width: 24px;
    height: 24px;

    .text {
      font-size: 12px;

      .iconDone {
        font-size: 14px;
      }
    }
  }

  &_percent {
    width: 40px;
    height: 40px;

    &.wrapper_normal {
      width: 32px;
      height: 32px;
    }

    &.wrapper_small {
      width: 24px;
      height: 24px;
    }

    &.wrapper_tiny {
      width: 16px;
      height: 16px;
    }
  }
}

.circleBg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border-radius: 100%;
  color: #EAF6F2;

  svg {
    circle {
      stroke: currentColor;
      fill: none;
    }
  }
}

.circleContainer {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  color: inherit;
  transform: rotate(-90deg);

  svg {
    circle {
      stroke: currentColor;
      fill: none;
      transition: stroke-dashoffset 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    }
  }

  &_indeterminate {
    animation: indeterminate_container_animation 1.4s linear infinite;

    circle {
      stroke-dasharray: 80px, 200px;
      stroke-dashoffset: 0;
      animation: indeterminate_circle_animation 1.4s ease-in-out infinite;
    }
  }
}

.text {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-weight: 500;
  font-size: 14px;
  color: #4A5368;
}

@keyframes indeterminate_circle_animation {
  0% {
    stroke-dasharray: 1px, 200px;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 100px, 200px;
    stroke-dashoffset: -15px;
  }
  100% {
    stroke-dasharray: 100px, 200px;
    stroke-dashoffset: -125px;
  }
}

@keyframes indeterminate_container_animation {
  0% {
    transform: rotate(0deg);
    transform-origin: center;
  }
  100% {
    transform: rotate(360deg);
    transform-origin: center;
  }
}
