@import '../../styles/colors';

.hero {
  position: relative; 
  margin: 0;
}

.slider {
  position: relative; 
  display: flex;
  flex-direction: column;
  background-color: $accent-color;
}

.arrow {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  border: 1px solid;
  cursor: pointer;

  transition: opacity 0.5s ease-in-out;
  opacity: 0;
  position: absolute;
}

.show {
  opacity: 1;
}

.hide {
  opacity: 0;
  pointer-events: none;
}


.arrowUp {
  top: 10px;
}

.arrowDown {
  bottom: 10px;
}

