// AvatarComponent.module.scss
.avatarWrapper {
  border-radius: 50%; 
  overflow: hidden;
  display: inline-block;
  width: 100%;
  height: 100%;
}

.avatarImage {
  width: 100%; 
  height: 100%; 
  object-fit: cover;
}

.avatarIcon {
  width: 100%;
  height: 100%;
  color: lightgray;
}

.small {
  width: 32px;
  height: 32px;
}

.medium {
  width: 64px;
  height: 64px;
}

.large {
  width: 220px;
  height: 220px;
}
